@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-spin-dot-item {
  background-color: white !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: "#FFA0BC";
}

:where(.css-dev-only-do-not-override-vryruh).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-radius: 30rem;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: "#FFA0BC" !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-picker {
  border-radius: 60vh;
}

/* Check box css */
.custom-checkbox .ant-checkbox {
  transform: scale(1.5); /* Phóng to checkbox */
  margin-right: 8px; /* Khoảng cách giữa ô checkbox và chữ */
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1890ff; /* Màu khi checkbox được chọn */
}

.custom-checkbox .ant-checkbox-inner {
  width: 200px; /* Chiều rộng của checkbox */
  height: 200px; /* Chiều cao của checkbox */
}

.custom-checkbox .ant-checkbox-wrapper {
  font-size: 16px; /* Kích thước chữ */
}

.custom-table .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Màu của thanh cuộn */
  border-radius: 10px; /* Bo tròn góc thanh cuộn */
  border: 2px solid transparent; /* Để thanh cuộn trông nhẹ nhàng */
  background-clip: content-box;
}

.custom-table .ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* Màu khi di chuột vào thanh cuộn */
}

.custom-table .ant-table-body::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Màu nền track của thanh cuộn */
  border-radius: 10px;
}
