@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-spin-dot-item {
  background-color: white !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: "#FFA0BC";
}

:where(.css-dev-only-do-not-override-vryruh).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-radius: 30rem;
}
