@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:where(.css-dev-only-do-not-override-vryruh).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-radius: 30rem;
  /* height: 2rem; */
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-vryruh).ant-input-affix-wrapper {
  border-radius: 30rem !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: "#FFA0BC" !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-picker {
  border-radius: 60vh;
}

/* 
.ant-select-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* Check box css */
.custom-checkbox .ant-checkbox {
  transform: scale(1.5); /* Phóng to checkbox */
  margin-right: 8px; /* Khoảng cách giữa ô checkbox và chữ */
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner:hover {
  border: #555 !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffa0bc !important;
  border: #555 !important; /* Màu khi checkbox được chọn */
}

.custom-checkbox .ant-checkbox-inner {
  width: 16px; /* Chiều rộng của checkbox */
  height: 16px; /* Chiều cao của checkbox */
}

.custom-checkbox .ant-checkbox-wrapper {
  font-size: 16px; /* Kích thước chữ */
}

.ant-checkbox-input {
  accent-color: "red";
}

/* Menu Custom */
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: #ffe3ec;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: "red" !important;
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: #fd78a0;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title::after {
  color: #000000;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: #000000;
}

:where(.css-dev-only-do-not-override-vryruh).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #ffa0bc;
}

:where(.css-dev-only-do-not-override-vryruh).ant-select .ant-select-arrow {
  color: #ffa0bc;
}

:where(.css-dev-only-do-not-override-vryruh).ant-select
  .ant-select-selection-placeholder {
  color: #ffa0bc;
}

:where(.css-dev-only-do-not-override-vryruh).ant-picker-outlined {
  border-color: #ffa0bc;
  color: #ffa0bc !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-picker
  .ant-picker-input
  > input::placeholder {
  color: #ffa0bc;
}

.anticon .anticon-swap-right > svg {
  color: #ffa0bc;
}
