@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:where(.css-dev-only-do-not-override-vryruh).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-radius: 30rem;
  /* height: 2rem; */
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-vryruh).ant-input-affix-wrapper {
  border-radius: 30rem !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: "#FFA0BC" !important;
}

:where(.css-dev-only-do-not-override-vryruh).ant-picker {
  border-radius: 60vh;
}

/* 
.ant-select-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* Check box css */
.custom-checkbox .ant-checkbox {
  transform: scale(1.5); 
  margin-right: 8px; 
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner:hover {
  border: #555 !important;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #ffa0bc !important;
  border: #555 !important; 
}

.custom-checkbox .ant-checkbox-inner {
  width: 16px; 
  height: 16px; 
}

.custom-checkbox .ant-checkbox-wrapper {
  font-size: 16px; 
}

.ant-checkbox-input {
  accent-color: "red";
}

/* Menu Custom */
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  background-color: #fcb1c8;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: "red" !important;
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: #fd78a0;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title::after {
  color: #000000;
}

:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-vryruh).ant-menu-light
  > .ant-menu
  .ant-menu-item-selected {
  color: #000000;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.custom-table .ant-table-thead > tr > th {
  background-color: #fff7f7 !important;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Ẩn thanh cuộn mặc định và thiết kế thanh cuộn mới */
.ant-table-body::-webkit-scrollbar {
  width: 6px !important; /* Độ rộng thanh cuộn dọc */
  height: 6px !important; /* Độ cao thanh cuộn ngang */
}

.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Màu của thanh cuộn */
  border-radius: 10px; /* Bo tròn góc của thanh cuộn */
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; /* Màu khi di chuột vào thanh cuộn */
}

.ant-table-body::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Nền của track thanh cuộn */
  border-radius: 10px;
}

.custom-table .ant-table-body {
  overflow-y: auto !important; /* Đảm bảo cuộn được kích hoạt */
}


.custom-table .ant-table-body::-webkit-scrollbar {
  width: 100px !important; /* Độ rộng thanh cuộn dọc */
  height: 8px !important; /* Độ cao thanh cuộn ngang */
}

.custom-table .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #c0c0c0 !important; /* Màu của thanh cuộn */
  border-radius: 10px !important; /* Bo tròn góc thanh cuộn */
  border: 2px solid transparent !important; /* Để thanh cuộn trông nhẹ nhàng */
  background-clip: content-box !important;
}

.custom-table .ant-table-body::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0 !important; /* Màu khi di chuột vào thanh cuộn */
}

.custom-table .ant-table-body::-webkit-scrollbar-track {
  background-color: #f5f5f5 !important; /* Màu nền track của thanh cuộn */
  border-radius: 10px !important;
}

.custom-table-no-padding .ant-table-cell {
  padding: 0 !important; 
}

/*  =======================  CSS FOR HEADER TABLE ================= */

.header-no-padding-red {
  padding: 0 !important; 
  background-color: rgba(243, 76, 54, 0.1); 
  width: 100%; 
  height: 52px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box; 
}

.header-no-padding-green {
  padding: 0 !important; 
  background-color: rgba(63, 241, 8, 0.1); 
  width: 100%; 
  height: 52px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  box-sizing: border-box; 
}

.ant-table-thead th .header-no-padding {
  padding: 0 !important;
}

/* ================ Corlor pagination table  ====== */


/* Thay đổi màu số trang hiện tại */
.custom-pagination .ant-pagination-item-active a {
  color: #191919 !important; /* Màu chữ */
  border-color: #ff0000 !important; /* Màu viền */
}

/* Thay đổi màu số trang không được chọn */
.custom-pagination .ant-pagination-item a {
  color: #FFA0BC !important; /* Màu chữ */
}

/* Thay đổi màu nút điều hướng (< và >) */
.custom-pagination .ant-pagination-prev, 
.custom-pagination .ant-pagination-next {
  color: #ff769f !important; /* Màu chữ nút điều hướng */
}

/* Thay đổi hover hiệu ứng cho số trang */
.custom-pagination .ant-pagination-item:hover a {
  color: #FFA0BC !important;
  background-color: #FFA0BC !important; /* Màu nền khi hover */
}

/* Thay đổi hover cho nút điều hướng */
.custom-pagination .ant-pagination-prev:hover,
.custom-pagination .ant-pagination-next:hover {
  color: #FFA0BC;
}


/* :where(.css-dev-only-do-not-override-vryruh).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: 1px solid #ffa0bc;
} */

/* :where(.css-dev-only-do-not-override-vryruh).ant-select .ant-select-arrow {
  color: #ffa0bc;
} */
/* 
:where(.css-dev-only-do-not-override-vryruh).ant-select
  .ant-select-selection-placeholder {
  color: #ffa0bc;
} */

/* :where(.css-dev-only-do-not-override-vryruh).ant-picker-outlined {
  border-color: #ffa0bc;
  color: #ffa0bc !important;
} */
/* 
:where(.css-dev-only-do-not-override-vryruh).ant-picker
  .ant-picker-input
  > input::placeholder {
  color: #ffa0bc;
} */

/* .anticon .anticon-swap-right > svg {
  color: #ffa0bc;
} */
